#headline{
    text-align: center;
    color: gold;
    background-color: darkolivegreen;
}

.container{
    display: flex;
    border: groove;
}

.ending{
    text-align: center;
    color: gold;
    background-color: darkolivegreen;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.basic{
    background-color: lavenderblush;
    padding-left: 1%;
    padding-right: 2%;
}

.infomation{
    background-color: lavender;
    padding-left: 2%;
    padding-right: 2%;
    flex: 0 0 15%;
}

ol,ul,p{
    font-size: 25px;
}

.name{
   font-weight: bold;
}

.сontactDetails{
    font-weight: bold;
}

.emais{
    font-style: italic;
}